<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SchoolDbConnection"
			 connectionString="Data Source=YOUR_SERVER_NAME;Initial Catalog=schooldb;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>